* {
    box-sizing: border-box;
    user-select: none;
}

button {
    cursor: pointer;
}

body {
    min-height: 100vh;
    background-color: #fafafa;
    font-family: "Roboto", sans-serif;
}

strong {
    font-weight: 700;
    display: inline;
}

.loading.full-screen {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: flex;
}

.topo {
    background: #ec362d;
    height: 69px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 13px 0;
    z-index: 6;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container .container {
    padding-top: 27px;
}

.buzzquizz {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #ffffff;
}

.criarQuiz {
    width: 100%;
    height: 181px;
    border: 1px dashed #d5d5d5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 77px 18px 0 18px;
}

.NaoCriou {
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #b9b9b9;
    width: 250px;
    height: 107px;
}

.criar {
    width: 151px;
    height: 40px;
    background: #fafafa;
    border: 1px dashed #ec362d;
    border-radius: 50px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #ec362d;
    transition: background-color ease 0.3s;
}

.criar:hover {
    background-color: rgba(236, 54, 45, 0.1);
}

.criar:active {
    background-color: rgba(236, 54, 45, 0.2);
}

main {
    margin: 69px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1051px;
}
.todosOsQuizzes {
    margin-top: 77px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    width: 100%;
    justify-content: left;
    color: #000000;
}

.listaQuizzes {
    margin-top: 14px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}
.QuizesUsuario {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 69px;
}
.SeusQuizes {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-right: 17px;
}
.add {
    color: #ec362d;
    font-size: 36px;
    cursor: pointer;
}
.listaQuizzesLocais {
    margin-top: 14px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}
.QuizzListado {
    position: relative;
    width: 340px;
    height: 181px;
    overflow: hidden;
    border-radius: 5px;
}

.imgQuizz {
    width: 100%;
    z-index: -1;
    object-fit: cover;
}
.tituloQuizz {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;

    cursor: inherit;
    max-width: calc(100% - 36px);
    margin: 0 18px 12px 18px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: break-word;
}

.QuizzListado:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 1;
    border-radius: 5px;
}
.sumir {
    display: none;
}
.aparecer {
    display: inline;
}

/* Ajustes UX */
.clicavel {
    cursor: pointer;
    transition: filter ease 0.3s;
}
.clicavel:hover {
    filter: brightness(1.4);
}
.clicavel:active {
    filter: brightness(1);
}

/* Input errors */
input {
    outline: none;
}

.labeled-input span {
    display: block;
    margin-top: 3px;
    color: #ec362d;
    font-size: 16px;
}

.labeled-input span:empty {
    display: none;
}

.labeled-input:has(span:not(:empty)) input {
    background: #ffe9e9 !important;
}

@media screen and (max-width: 1100px) {
    .listaQuizzes,
    .criarQuiz,
    .todosOsQuizzes,
    .listaQuizzesLocais,
    .QuizesUsuario {
        width: 90%;
    }
    .listaQuizzes,
    .listaQuizzesLocais {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 1100px) {
}

.pagina1,
.pagina2,
.pagina3 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comece {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 37px;
    padding-bottom: 37px;
}

.comeco {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
    background: #ffffff;
    box-sizing: border-box;
    padding: 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.titulo,
.url,
.perguntas,
.niveis,
.texto,
.cor,
.resposta,
.imagem,
.incorreta1,
.incorreta2,
.incorreta3,
.imagemIncorreta1,
.imagemIncorreta2,
.imagemIncorreta3,
.URLnivel,
.percentual,
.tituloNivel {
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 341px;
    height: 46px;
}

.descricao {
    width: 341px;
    height: 177px;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    margin-bottom: 20px;
}

.incorreta2,
.incorreta3 {
    margin-top: 32px;
}

.imagemIncorreta3 {
    margin-bottom: 27px;
}

::placeholder {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #bababa;
}

.alinhamentoItens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 52px;
}

.prosseguirNiveis,
.prosseguir,
.finalizar {
    cursor: pointer;
    width: 324px;
    height: 54px;
    background: #ec362d;
    border-radius: 15px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff5f4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background ease 0.3s;
}

.prosseguirNiveis:hover,
.prosseguir:hover,
.finalizar:hover,
.modal .confirmar:hover {
    background: #d62b22;
}
.prosseguirNiveis:active,
.prosseguir:active,
.finalizar:active,
.modal .confirmar:active {
    background: #bb1b13;
}

.container2,
.container3,
.container4,
.container5,
.container6,
.container7 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.pergunta1 {
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

.digitePergunta {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 12px;
    margin-top: 27px;
}

.container > .pergunta1:first-child .digitePergunta {
    margin-top: 0;
}

.inputs2 {
    gap: 10px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

.pergunta1Inicio,
.pergunta2Inicio,
.pergunta3Inicio,
.nivel1Inicio,
.nivel2Inicio,
.nivel3Inicio {
    display: flex;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 27px;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.toggle {
    cursor: pointer;
}

.pergunta1Inicio ion-icon {
    font-size: 24px;
}

.pergunta2Inicio ion-icon {
    font-size: 24px;
}

.pergunta3Inicio ion-icon {
    font-size: 24px;
}

.nivel1Inicio ion-icon {
    font-size: 24px;
}

.nivel2Inicio ion-icon {
    font-size: 24px;
}

.nivel3Inicio ion-icon {
    font-size: 24px;
}

.pergunta3Inicio,
.container4 {
    margin-bottom: 46px;
}

.digitePergunta1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}

.prosseguirNiveis {
    width: 324px;
    height: 54px;
    left: 30px;
    top: 1224px;
    background: #ec362d;
    border-radius: 15px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff5f4;
}

.botaoProsseguir,
.botaoFinalizar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remocaoDisplay {
    display: none !important;
}

.container-nivel {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.sucesso-criacao p {
    width: fit-content;
}

.sucesso-criacao {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 29px;
    align-items: center;
}

.item-lista {
    position: relative;
}

.quizz-lista-acoes {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #ec362d;
    z-index: 5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
}

.quizz-lista-acoes ion-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: transform ease 0.3s;
}

.quizz-lista-acoes ion-icon:hover {
    transform: scale(1.15);
}

.quizz-lista-acoes ion-icon:active {
    transform: scale(0.95);
}

.modal-container {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity ease 0.2s;
}

.hidden {
    pointer-events: none;
    opacity: 0;
}

.modal-container.hidden .modal {
    transform: translateY(20%);
    opacity: 0;
}

.modal {
    width: min(90%, 350px);
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #313131;
    overflow: hidden;
    transition: transform ease 0.4s, opacity ease 0.4s;
}

.modal header h2 {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px;
}

.modal main {
    margin: 0;
    padding: 16px;
    font-size: 16px;
    line-height: 160%;
}

.modal main:empty {
    display: none;
}

.modal:has(main:empty) footer {
    border: none;
}

.modal footer {
    display: flex;
    gap: 12px;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px;
}

.modal footer button {
    border-radius: 100px;
    font-size: 18px;
    padding: 10px;
    flex: 1;
    transition: background ease 0.3s;
}

.modal footer .confirmar {
    background: #ec362d;
    color: #fff;
}

.modal footer .cancelar {
    color: #6e6e6e;
}

.modal footer .cancelar:hover {
    background: rgba(110, 110, 110, 0.15);
}
.modal footer .cancelar:active {
    background: rgba(110, 110, 110, 0.3);
}

@media (min-width: 650px) {
    .inputs {
        width: 600px;
        background: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    }
    .alinhamento {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .titulo,
    .descricao,
    .url,
    .perguntas,
    .niveis,
    .texto,
    .cor,
    .resposta,
    .imagem,
    .incorreta1,
    .incorreta2,
    .incorreta3,
    .imagemIncorreta1,
    .imagemIncorreta2,
    .imagemIncorreta3,
    .URLnivel,
    .percentual,
    .tituloNivel {
        width: 564px;
        height: 46px;
    }
    .pergunta3Inicio,
    .pergunta1Inicio,
    .pergunta2Inicio {
        width: 601px;
        height: 74px;
    }

    .pagina2,
    .pagina3 {
        align-items: center;
    }

    .container2,
    .container3,
    .container4 {
        width: 600px;
        background: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        display: flex;
    }
    .container5,
    .container6,
    .container7 {
        width: 600px;
        height: 316px;
    }
    .nivel3Inicio,
    .nivel2Inicio,
    .nivel1Inicio {
        width: 600px;
        height: 74px;
    }
}
