* {
    box-sizing: border-box;
    user-select: none;
}

body {
    min-height: 100vh;
    background-color: #fafafa;
    font-family: "Roboto", sans-serif;
}

.topo {
    background: #ec362d;
    height: 69px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 13px 0;
    z-index: 5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.buzzquizz {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #ffffff;
}

.criarQuiz {
    width: 100%;
    height: 181px;
    border: 1px dashed #d5d5d5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 77px 18px 0 18px;
}

.NaoCriou {
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #b9b9b9;
    width: 250px;
    height: 107px;
}

.criar {
    width: 151px;
    height: 40px;
    background: #fafafa;
    border: 1px dashed #ec362d;
    border-radius: 50px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #ec362d;
}
main {
    margin: 69px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1051px;
}
.todosOsQuizzes {
    margin-top: 77px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    width: 100%;
    justify-content: left;
    color: #000000;
}

.listaQuizzes {
    margin-top: 14px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}
.QuizesUsuario{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 69px;
}
.SeusQuizes{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-right: 17px;
}
.add{
    color: #EC362D;
    font-size: 36px;
    cursor: pointer;
}
.listaQuizzesLocais{
    margin-top: 14px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}
.QuizzListado {
    position: relative;
    width: 340px;
    height: 181px;
    overflow: hidden;
    border-radius: 5px;
}

.imgQuizz {
    width: 100%;
    z-index: -1;
    object-fit: cover;
}
.tituloQuizz {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #ffffff;
    position: absolute;
    left: 18px;
    bottom: 6px;
    z-index: 2;
}
.QuizzListado:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%);
    z-index: 1;
    border-radius: 5px;
}
.sumir{
    display: none;
}
.aparecer{
    display: inline;
}
/* Ajustes UX */
.clicavel {
    cursor: pointer;
    transition: filter ease 0.3s;
}
.clicavel:hover {
    filter: brightness(1.4);
}
.clicavel:active {
    filter: brightness(1);
}

@media screen and (max-width: 1100px) {
    .listaQuizzes,
    .criarQuiz,
    .todosOsQuizzes,
    .listaQuizzesLocais {
        width: 90%;
    }
    .listaQuizzes,
    .listaQuizzesLocais {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 1100px) {
}

.pagina1, .pagina2, .pagina3{
    width:100%;
    display:flex;
    flex-direction: column;
    height:100vh;
    background: #E5E5E5;
}

.comece{
background-color: #E5E5E5;
width:100%;
text-align:center;
box-sizing: border-box;
padding-top:37px;
padding-bottom:37px;
}

.comeco{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #000000;
width:100%;
}

.inputs{
display:flex;
flex-direction: column;
width:100%;
align-items: center;
gap:10px;
background: #FFFFFF;
box-sizing: border-box;
padding:24px;
}

.titulo, .url, .perguntas, .niveis, .texto, .cor, .resposta, .imagem, .incorreta1, .incorreta2, .incorreta3, .imagemIncorreta1, .imagemIncorreta2, .imagemIncorreta3, .URLnivel, .percentual, .tituloNivel{
background: #FFFFFF;
border: 1px solid #D1D1D1;
border-radius: 5px;
width: 341px;
height: 46px;
}

.descricao{
width: 341px;
height: 177px;
background: #FFFFFF;
border: 1px solid #D1D1D1;
border-radius: 5px;
margin-bottom: 20px;
}

.incorreta2, .incorreta3 {
    margin-top:32px;
}

.imagemIncorreta3 {
    margin-bottom: 27px;
}

::placeholder{
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 19px;
line-height: 22px;
color: #BABABA;
}

.alinhamentoItens{
width:100%;
display:flex;
align-items: center;
justify-content: center;
margin-top: 52px;
}

.prosseguirNiveis, .prosseguir, .finalizar {
width: 324px;
height: 54px;
background: #EC362D;
border-radius: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFF5F4;
display:flex;
align-items: center;
justify-content: center;
margin-bottom: 136px;
}

.container2, .container3, .container4, .container5, .container6, .container7{
    display:flex;
    flex-direction: column;
    width:100%;
    align-items:center;
    justify-content:center;
    background-color:#FFFFFF;
    margin-bottom:24px;
}

.pergunta1{  
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
display:flex;
flex-direction: column;
width:341px;
}

.digitePergunta{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #000000;
margin-bottom: 12px;
margin-top: 27px;
}

.inputs2 {
gap:10px;
background: #FFFFFF;
display:flex;
flex-direction: column;
}

.pergunta1Inicio, .pergunta2Inicio, .pergunta3Inicio, .nivel1Inicio, .nivel2Inicio, .nivel3Inicio{
    display:flex;
    width:100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right:17px;
    padding-left: 17px;
    padding-top: 27px;
    padding-bottom: 24px;
    margin-bottom:24px;
}

.pergunta1Inicio ion-icon{
    font-size:24px;
}

.pergunta2Inicio ion-icon{
    font-size:24px;
}

.pergunta3Inicio ion-icon{
    font-size:24px;
}

.nivel1Inicio ion-icon{
    font-size:24px;
}

.nivel2Inicio ion-icon{
    font-size:24px;
}

.nivel3Inicio ion-icon{
    font-size:24px;
}

.pergunta3Inicio, .container4 {
    margin-bottom:46px;
}

.digitePergunta1{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
color: #000000;
}

.prosseguirNiveis{
width: 324px;
height: 54px;
left: 30px;
top: 1224px;
background: #EC362D;
border-radius: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFF5F4;
}

.botaoProsseguir, .botaoFinalizar{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 61px;
    margin-bottom:136px;
}

.remocaoDisplay {
display:none;
}


@media (min-width: 650px){
.inputs {width: 600px;
height: 256px;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.alinhamento {
width:100%;
display:flex;
justify-content: center;
}
.titulo, .url, .perguntas, .niveis{
width: 564px;
height: 46px;
}
}
